<main class="container-dashboard">
  <sol-title-page-default [title]="'LABELS.MSG0008' | transloco" />

  <section class="dashboard-content">
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis, fugiat? Harum molestiae quod aut, sint qui excepturi
      praesentium architecto et cupiditate porro earum modi voluptas aperiam quis, odit dolorem. Nulla? Velit neque corporis hic
      ducimus labore quos, quo suscipit accusantium maiores nostrum incidunt excepturi vel similique, voluptates vero, nihil
      perferendis. Exercitationem, earum! Laborum, molestias recusandae. Numquam modi a est iusto. Voluptas, recusandae ipsa
      accusamus ullam at cupiditate porro numquam! Iste architecto adipisci aspernatur quaerat consectetur repellendus voluptates
      eaque dolor cumque, quibusdam quasi aut beatae cum facilis necessitatibus consequatur explicabo quas? Ipsa sit aut
      blanditiis laboriosam, aliquid esse consequuntur doloribus consequatur! Eveniet error perspiciatis unde molestiae cum
      reprehenderit dolorum perferendis, minima sunt necessitatibus qui pariatur voluptate, doloribus, dicta vero temporibus
      similique. Harum accusamus nemo earum reiciendis nulla. Sapiente earum animi odio consectetur at omnis repellat culpa fuga
      numquam. Molestias corporis libero magni quo ut, sint aut labore ex repudiandae delectus atque?
    </p>
  </section>
</main>
